streamlit
streamlit-extras
pandas
numpy
scikit-learn
xgboost
lightgbm
sentence-transformers
faiss-cpu
plotly
python-dotenv
pdfplumber
pdf2image
pytesseract
langchain
langchain-openai
langchain-groq
joblib